BasedOnStyle: LLVM
AccessModifierOffset: -4
IndentAccessModifiers: false
BreakBeforeBraces: Allman
IndentExternBlock: NoIndent
IndentWidth: 4
FixNamespaceComments: false
PointerAlignment: Left
UseTab: Never